<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">
<body>
<main>
    <div class="container mt-3">
        <!-- Pills content -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <h3 class="m-auto">Forgot Password</h3>
                <form th:action="@{/forgot-password}" method="post">
                  <div class="form-outline mb-4">
                    <span>[[${message}]]</span>
                 </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required/>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required/>
                        <td></td>
                    </div>

                    <button type="submit" class="btn btn-warning btn-block mb-4">Update</button>

                </form>
            </div>
        </div>
    </div>
</main>
</body>

</html>