
  <div class="header__top" xmlns:th="https://www.thymeleaf.org">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <ul class="header__top__widget">
            <li><span class="icon_pin_alt"></span> 96 Ernser Vista Suite 437, NY, US</li>
            <li><span class="icon_phone"></span> (123) 456-78-910</li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="header__top__right">
            <div class="header__top__auth">
              <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
              </ul>
            </div>
            <div class="header__top__language">
              <img src="/img/lan.png" alt="">
              <span>English</span>
              <i class="fa fa-angle-down"></i>
              <ul>
                <li>English</li>
                <li>Bangla</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__nav__option">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="header__logo">
            <a th:href="@{/home/index}"><img src="/img/logo.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="header__nav">
            <nav class="header__menu">
              <ul class="menu__class">
                <li class="active"><a th:href="@{/home/index}">Home</a></li>
                <li><a th:href="@{/room/list}">Rooms</a></li>
                <li><a th:href="@{/about}">About Us</a></li>
                <li><a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a th:href="@{/about}">About Us</a></li>
                    <li><a href="./room-details.html">Room Details</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li><a th:href="@{/blog}">News</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
              </ul>
            </nav>
            <div class="header__nav__widget">
              <a href="#">Book Now <span class="arrow_right"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="canvas__open">
        <span class="fa fa-bars"></span>
      </div>
    </div>
  </div>
