<div class="header__top" xmlns:th="https://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <ul class="header__top__widget">
                    <li><span class="icon_pin_alt"></span> 96 D2 Street, Binh Thanh Distric, Ho Chi Minh City</li>
                    <li><span class="icon_phone"></span> (84) 456-78-910</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="header__top__right">
                    <div class="header__top__auth">
                        <th:block th:unless="${#request.getRemoteUser}">
                            <a class="text-dark" th:href="@{/login}">Login</a> |
                            <a class="text-dark" th:href="@{/register}">Register</a>
                        </th:block>
                        <th:block th:if="${#request.getRemoteUser}">
                            <div class="dropdown">
                                <a class="btn dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    [[${#request.userPrincipal.name}]]
                                </a>
                                <div class="dropdown-menu" >
                                    <li><a class="dropdown-item" href="#">My Order</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" th:href="@{/update-account}">Update Account</a></li>
                                    <li><a class="dropdown-item" th:href="@{/update-password}">Update Pass</a></li>
                                    <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="header__top__language">
                        <img src="/img/lan.png" alt="">
                        <span>English</span>
                        <i class="fa fa-angle-down"></i>
                        <ul>
                            <li>English</li>
                            <li>Bangla</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header__nav__option">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a th:href="@{/home/index}"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav">
                    <nav class="header__menu">
                        <ul class="menu__class">
                            <li class="active"><a th:href="@{/home/index}">Home</a></li>
                            <li><a th:href="@{/room/list}">Rooms</a></li>
                            <li><a th:href="@{/about}">About Us</a></li>
                            <li><a th:href="@{/comment/room}">Feedback</a></li>
                            <li><a th:href="@{/contact}">Contact</a></li>   
                        </ul>
                    </nav>
                    <div class="header__nav__widget">
                        <a th:href="@{/booking}">Book Now <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <span class="fa fa-bars"></span>
        </div>
    </div>
</div>
