
.wrapperToastError{
    width: 420px;
    padding: 30px 20px;
    position: absolute;
    Top: 50px;
    right: 0;
    overflow: hidden;
}

#toastError{
    width: 380px;
    height: 100px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
    border-left: 8px solid #d75f47;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.2fr 6fr 0.5fr;
    transform: translate(400px);
    transition: 1s;
}
.container-toast3,.container-toast4{
    align-self: center;
}
.container-toast3 i{
    font-size: 40px;
    color: #d75f47;
}
.container-toast4 p:first-child{
    
    color: #101020;
    font-weight: 600;
    font-size: 20px;
}
.container-toast4 p:last-child{
    font-size: 16px;
    color: #656565;
    font-weight: 400;
}