<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-6 col-xl-6 mx-auto text-center my-5">
                <div class="card" >
                    <div class="card-header" style="background-color: #E9AD28;">
                        <h3>Booking detail</h3>
                    </div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-center lh-condensed">
                            <div>
                                <h6 class="my-0">Fullname</h6>
                                <small class="text-muted" >Brief description</small>
                            </div>

                        </li>
                        <li class="list-group-item d-flex justify-content-center lh-condensed">
                            <div>
                                <h6 class="my-0">Phone</h6>
                                <small class="text-muted" >Brief description</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-around lh-condensed">
                            <div>
                                <h6 class="my-0">Check-in</h6>
                                <small class="text-muted" >Brief description</small>
                            </div>
                            <div>
                                <h6 class="my-0">Check-out</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-around lh-condensed">
                            <div>
                                <h6 class="my-0">Room</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <div>
                                <span class="text-muted">50000VNĐ</span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-around lh-condensed">
                            <div>
                                <h6 class="my-0">Services</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <div>
                                <span class="text-muted">50000VNĐ</span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-around lh-condensed">
                            <div>
                                <h6 class="my-0">Foods</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <div>
                                <span class="text-muted">50000VNĐ</span>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer" style="background-color: #E9AD28;">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </div>
                    <a class="w-100 btn btn-lg mt-3 bg-warning" type="submit" th:href="@{/home/index}">Home</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>