<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-6 col-xl-6 mx-auto text-center my-5">
                <div class="card" >
                    <div class="card-header" style="background-color: #E9AD28;">
                        <h3>Booking detail</h3>
                    </div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-center lh-condensed">
                            <div>
                                <h6 class="my-0">Book Date</h6>
                                <small class="text-muted" >[[${#dates.format(bookingitem.bookDate,'dd/MM/yyyy')}]]</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-center lh-condensed">
                            <div>
                                <h6 class="my-0">Fullname</h6>
                                <small class="text-muted" >[[${bookingitem.fullname}]]</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-center lh-condensed">
                            <div>
                                <h6 class="my-0">Phone</h6>
                                <small class="text-muted" >[[${bookingitem.phone}]]</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-around lh-condensed">
                            <div>
                                <h6 class="my-0">Check-in</h6>
                                <small class="text-muted" >[[${#dates.format(bookingitem.inDate,'dd/MM/yyyy')}]]</small>
                            </div>
                            <div>
                                <h6 class="my-0">Check-out</h6>
                                <small class="text-muted">[[${#dates.format(bookingitem.outDate,'dd/MM/yyyy')}]]</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-around lh-condensed">
                            <div>
                                <h6 class="my-0">Room</h6>
                                <small class="text-muted">[[${bookingitem.roomb.name}]] <br> [[${bookingitem.roomb.roomType.name}]]</small>
                            </div>
                            <div>
                                <h6 class="my-0">Price</h6>
                                <span class="text-muted">[[${#numbers.formatDecimal(bookingitem.roomb.roomType.price,0,'COMMA',0,'POINT')}]] VNĐ</span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex flex-fill lh-condensed justify-content-around ">
                            <div>
                                <h6 class="my-0">Services</h6>
                                <small class="text-muted text-left p-0 m-0 fs-6" th:each=" f : ${bookingitem.serviceBookings}">[[${f.service.name}]]<br></small>
                            </div>
                            <div>
                                <h6 class="my-0">Price</h6>
                                <span class="text-muted"th:each=" f : ${bookingitem.serviceBookings}">[[${#numbers.formatDecimal(f.service.price,0,'COMMA',0,'POINT')}]] VNĐ<br></span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-around lh-condensed">
                            <div>
                                <h6 class="my-0">Foods</h6>
                                <small class="text-muted" th:each=" f : ${bookingitem.foodBookings}">[[${f.food.name}]]<br></small>
                            </div>
                            <div>
                                <h6 class="my-0">Price</h6>
                                <span class="text-muted" th:each=" f : ${bookingitem.foodBookings}">[[${#numbers.formatDecimal(f.food.price,0,'COMMA',0,'POINT')}]] VNĐ<br></span>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer" style="background-color: #E9AD28;">
                        <span>Total (VNĐ)</span>
                        <strong>[[${#numbers.formatDecimal(bookingitem.total,0,'COMMA',0,'POINT')}]]</strong>
                    </div>
                    <a class="w-100 btn btn-lg mt-3 bg-warning" type="submit" th:href="@{/booking/history}">Back</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>