<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
<main>
    <div class="container mt-5" >
        <div class="row d-flex flex-row justify-content-lg-between">
            <div class="col-8">
                <form action="#" >
                <div class="card">
                    <div class="card-header bg-warning">
                        <b>Date</b>
                    </div>
                    <div class="card-body">
                        Start:
                        <input id="dt1" />End:
                        <input id="dt2" />
                        <hr />Result:
                        <input id="dt" />
                        <div class="d-flex flex-row justify-content-around">
                            <div class="col-auto">
                                    <div class="filter__form__item">
                                        <p>Check in date</p>
                                        <div class="filter__form__datepicker">
                                            <span class="icon_calendar"></span>
                                            <input type="text" class="datepicker_pop check__in" id="checkIn" onChange="dateCheckIn()">
                                            <i class="arrow_carrot-down"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="filter__form__item">
                                        <p>Check out date</p>
                                        <div class="filter__form__datepicker">
                                            <span class="icon_calendar"></span>
                                            <input type="text" class="datepicker_pop check__out" id="checkOut" onChange="dateCheckOut()">
                                            <i class="arrow_carrot-down"></i>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="fullname" class="form-label">Full name</label>
                            <input type="text" class="form-control" id="fullname" placeholder="" th:value="${customer.fullname}" required="">
                            <div class="invalid-feedback">
                                Valid full name is required.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="phone" class="form-label">Phone number</label>
                            <input type="text" class="form-control" id="phone" placeholder="" th:value="${customer.phone}" required="">
                            <div class="invalid-feedback">
                                Valid phone number is required.
                            </div>
                        </div>
                    </div>
                <hr class="my-4">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-4">
                            <img src="/img/rooms/room-3.jpg" alt="">
                        </div>
                      <div class="col-auto">
                          <h5 class="card-title">Room</h5>
                          <p class="card-text">[[${room.name}]]</p>
                          <input type="text" hidden id="room_id" th:value="${room.id}"/>
                          <input type="text" hidden id="user_id" th:value="${#request.userPrincipal.name}"/>
                          <h5 class="card-title">Room Type</h5>
                          <p class="card-text" th:text="${room.roomType.name}" th:value="${room.roomType.name}"></p>
                      </div>
                        <div class="col-auto">
                            <p class="card-text mt-3" th:text="${room.description}"></p>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <div class="card">
                    <div class="card-header bg-warning">
                       <b>Service & Food</b>
                    </div>
                    <div class="card-body row d-flex flex-row justify-content-lg-around">
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownService" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose Service
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <button th:each="list : ${list}" class="dropdown-item" type="button">
                                        <input type="checkbox" class="service" th:value="*{list.id}" th:name="*{list.name +'-'+ list.price}" onClick="getService()"/> [[*{list.name}]] ([[*{list.price}]])
                                    </button>
<!--                                    <button class="dropdown-item" type="button">-->
<!--                                        <input type="checkbox">value2-->
<!--                                    </button>-->
<!--                                    <button class="dropdown-item" type="button">-->
<!--                                        <input type="checkbox">value3-->
<!--                                    </button>-->
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownFood" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose Food
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <button th:each="list : ${listFood}" class="dropdown-item" type="button">
                                        <input type="checkbox" class="food" th:value="*{list.id}" th:name="*{list.name +'-'+ list.price}" onClick="getFood()"> [[*{list.name}]] ([[*{list.price}]])
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
                <hr class="my-4">
<!--                    th:href="@{/booking/checkout}"-->
                <a class="w-100 btn btn-lg mb-5" style="background-color: #E9AD28;" type="submit" onCLick="booking()">Continue to checkout</a>
                </form>
            </div>
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-header bg-warning">
                        <b>Summary</b>
                    </div>
                    <div class="card-body m-0 p-0">
                        <ul class="list-group m-0">
                            <li class="list-group-item lh-sm">
                                <div class="d-flex flex-row">
                                    <div class="col-6 m-0 p-0">
                                        <h6 class="col-6 m-0 p-0">Check in</h6>
                                        <p class="fs-5" id="check_in"></p>
                                    </div>
                                    <div class="col-6 m-0 p-0">
                                        <h6 class="col-6 m-0 p-0">Check out</h6>
                                        <p class="fs-5" id="check_out"></p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <p class="m-0">Thời gian lưu trú: <b id="dayStay"> ngày</b></p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0" id="card-room-name" th:text="${room.roomType.name}" th:value="${room.roomType.name}" ></h6>
                                    <small class="text-muted">Brief description</small>
                                </div>
                                <span class="text-muted"  th:value="${room.roomType.price}" th:name="${room.roomType.price}">[[${room.roomType.price}]]</span><p>VNĐ</p>
                                <input type="text" hidden id="card-room-price" th:value="${room.roomType.price}"/>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">Service</h6>
                                    <small class="text-muted" id="card-service-name"></small>
                                </div>
                                <span class="text-muted" id="card-service-price"></span><p>VNĐ</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">Food</h6>
                                    <small class="text-muted" id="card-food-name"></small>
                                </div>
                                <span class="text-muted" id="card-food-price"></span><p>VNĐ</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (VNĐ)</span>
                                <strong id="card-total-price"></strong><p>VNĐ</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapperToast">
        <div id="toast">
          <div class="container-toast">
            <i class="fas fa-check-square"></i>
          </div>
          <div class="container-toast2">
            <p>Success</p>
            <p>Your changes are saved successfully.</p>
          </div>
        </div>
      </div>
      <!-- Error Toast -->
      <div class="wrapperToastError">
        <div id="toastError">
          <div class="container-toast3">
            <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div class="container-toast4">
            <p>Error</p>
            <p>Your changes are not successfully.</p>
          </div>
        </div>
      </div>
</main>
</body>
</html>